<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Shea Smith on 26/01/20 6:49 PM
  ~ Copyright (c) 2016 -  2020 Shea Smith. All rights reserved.
  ~ Last modified 3/06/19 12:48 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sheasmith.me.betterkamar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".KamarPlusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".pages.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".pages.portals.PortalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sheasmith.me.betterkamar.pages.portals.PortalActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f73ef781806f32d7cd8ed58bc3925758ed50644" />

        <activity
            android:name=".pages.portals.PortalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.addPortal.AddPortalActivity"
            android:label="Add New Portal"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pages.editPortal.EditPortalActivity"
            android:label="Add New Portal"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pages.DataActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/notices" />
        <activity android:name=".pages.results.PDFViewer" />
        <activity android:name=".pages.about.AboutActivity" />

        <receiver android:name=".widgets.TimetableWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_widget_info" />
        </receiver>

        <activity
            android:name=".widgets.TimetableWidgetConfigureActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".widgets.TimetableWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>